ul {
	margin:0 !important;
	list-style:none; 
}

strong {
	font-weight:bold;
}

em {
	font-style:italic;
}

:focus { outline:none !important; }
::-moz-focus-inner { border:0 !important; }

p {
	margin-bottom:1.2em;
	line-height:1.5em;
}

a img {	border:none; }

.clear { clear:both; }

body, html {
	color:#666666;
	font-size:.9em !important;
	line-height:1.2em;
	background:#F4F4F4 url(../img/bg-2-noise.jpg);
	height:100%;
	position:relative;
}

#header {
	background:#232835;
	color:#f0f0f0;
	position:relative;
	overflow:hidden;
	padding:25px 15px 20px;
}

#header h1 {
	color:white;
	font-size:35px;
	margin:0;
	text-shadow:1px 1px 1px #000;
	font-family:'Abel', Arial, sans-serif;
	line-height:32px;
}

#account {
	font-size:.85em;
	line-height:1em;
	text-align:right
}

#account span {
	color:#999999;
}

#account a {
	color:white;
	display:inline-block;
	padding:10px 20px;
	padding-left:35px;
	background:transparent url(../img/logout.png) no-repeat 10px 7px;
	text-decoration:none;
	transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#account a.my_account {
	background:transparent url(../img/my_account.png) no-repeat 10px 7px;
	margin-left:15px;
}

#account a:hover {
	background-color:#000;
}

/** MENU */

#top_menu {
	background: #3c404b; 
	-moz-box-shadow:0 5px 5px #E1E1E1;
	-webkit-box-shadow:0 5px 5px #E1E1E1;
	box-shadow:0 5px 5px #E1E1E1;
}

.mnu_inactive_msg {
	background:#000;
	color:#ccc;
	text-align:center;
	padding:2px 8px;
	margin:0 0 0 5px;

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

@media screen and (min-width: 769px) {
	nav {
		margin: 0 auto; 
		text-align: left;
		font-family:'Open Sans',Arial,sans-serif;
		line-height:.9em;
	}
	
	nav .icon {
		display: none;
	}

	nav ul ul {
		display: none;
	}
	
	nav ul li:hover > ul {
		display: block;
	}
	
	nav ul {
		padding: 0 20px;
		list-style: none;
		position: relative;
		margin:0;
	}
	
	nav ul:after {
		content: ""; clear: both; display: block;
	}
	
	nav ul li {
		float: left;
		transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
	}
	
	nav ul li:hover {
		background: #000;
	}
	
	nav ul li:hover a {
		color: #fff;
		text-decoration:none;
	}
	
	nav ul li a {
		display: block; padding: 12px 18px;
		color: #fff; text-decoration: none;
	}
			
	nav ul li:not(.no_arrow) a:before {
		color:rgba(255, 255, 255, 0.2);
		content:"▼";
		font-size:.8em;
		margin-left:8px;
		float:right;
	}
	
	nav ul ul li a:before {
		content:""!important;
	}
	
	nav ul ul {
		background: #000;
		border-radius: 0px;
		padding: 10px 0;
		position: absolute;
		top: 100%;
		z-index:1000;
	
		-moz-box-shadow:0 5px 5px #ccc;
		-webkit-box-shadow:0 5px 5px #ccc;
		box-shadow:0 5px 5px #ccc;
	}
	
	nav ul ul li {
		float: none; 
		position: relative;
	}
	
	nav ul ul li a {
		padding: 12px 40px;
		color: #fff;
	}	
	
	nav ul ul li a:hover {
		background: #3c404b;
	}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
}

/** FOOTER */

#footer {
	background:#eee;
	color:#888;
	text-align:center;
	padding:15px;

	clear:both;
	-moz-box-shadow:2px 2px 3px #E1E1E1;
	-webkit-box-shadow:2px 2px 3px #E1E1E1;
	box-shadow:2px 2px 3px #E1E1E1;

	padding:15px 10px;
	font-size:.9em;

	margin:50px 0 10px 0;
}

#footer a {
	color:#666;
}

/* Messages */

.message {
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:20px;
	line-height:1.4em;
}

.message p {
	margin:0;
}

.message ol {
	margin:20px 0 0 0;
	padding-left:2em;
}

.message li {
}

#login_error {
	width:310px;
	margin:0 auto 20px auto;
}

.message_ok {
	color:#849F4F;
	background:#ECF5DA;
	border:1px solid #B1C786;
}

.message_error {
	color:#B94A48;
	background:#F2DEDE;
	border:1px solid #EED3D7;
	text-shadow:1px 1px 1px white;
}

.message_info {
	color:#2E8EB4;
	background:#E5F1FC;
	border:1px solid #BCD8F3;
	margin-top:20px;
}

.message_note {
	color:#6c6620;
	background:#fdfbe1;
	border:1px solid #e7db55;
}

#donations_message a {
	text-decoration:underline;
}

#donations_message h3 {
	border:none;
}

/* Tabs */

.etabs {
	text-align:center;
}

.tab {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	background:#ededed;
	border:solid 1px #ccc;
	border-bottom:none;
	display:inline-block;
	*display:inline;
	zoom:1;
}

.tab:first-child {
	margin:0 0 0 30px;
}

.tab a {
	color:#ccc;
	display:block;
	font-family:'Open Sans',sans-serif;
	font-size:1.5em;
	line-height:2em;
	outline:none;
	padding:0 10px;
}

.tab a:hover {
	text-decoration:none;
	color:#666 !important;
}

.tab.active {
	background:url(../img/bg-2-noise.jpg);
	border-color:#ccc;
	position:relative;
	padding-top:1px;
	top:1px;
}

.tab a.active {
	color:#333 !important;
}

.tab-container .panel-container {
	border-top:solid #ccc 1px;
}

.panel-container {
	margin-bottom:10px;
}

#outer_tabs_wrapper {
	margin:0 auto;
}

/* forms */
/*
.form_fields li:not(.form_submit_li) {
	margin-bottom:4px;
	padding-bottom:4px;
}
*/
.form_fields li label {
	display:inline-block;
	width:40%;
}

.textarea_label {
	vertical-align:top;
}

.input[type="radio"], input[type="checkbox"] {
	margin:0 5px 3px 0!important;
}

.form_fields .form_submit_li {
	text-align:right;
}

.required {
/*	background-image:url(../img/req-field-off.png) !important;
	background-position:right -6px;
	background-repeat:no-repeat;
*/
	width:264px !important;
	padding-right:50px !important;
	background:url(../img/req-text.png) no-repeat right -2px;
}

#add_group_form_description {
	width:308px;
	height:150px;
	margin-bottom:30px;
}

input[type="text"], input[type="password"], textarea, select {
	width:308px;
}

/* Files actions */

.form_actions_left {
	display:inline-block;
	zoom:1;
	float:left;
}

.form_actions_left form {
	display:inline-block;
	zoom:1;
}

.form_actions_right {
	display:inline-block;
	zoom:1;
	float:right;
}

.form_actions_left select, .form_actions_right select {
	height:28px;
	font-size:13px;
}

.form_actions_left input[type="text"] {
	font-size:13px;
	height:18px;
	line-height:18px;
}

.inline_form {
	display:inline;
}

.form_actions, .form_actions_limit_results {
	padding:0;
	margin-bottom:5px;
}

.form_count_total {
	float:left;
}

.form_actions_count {
	text-align:left;
	padding-top:15px;
	font-size:1.2em;
	overflow:hidden;
	border-top:1px dotted #ccc;
}

.form_actions .form_actions_submit select {
	width:120px;
}

.form_actions .form_actions_submit select.large_select {
	width:320px !important;
}

.form_actions_limit_results {

}

.form_actions_limit_results .txtfield {
	width:140px;
}

.form_actions_limit_results .form_actions_search_box {
	width:80px !important;
}

#btn_proceed_search {
	margin-right:10px !important;
}


.form_actions_submit label {
	display:inline-block;
	width:160px;
	text-align:left;
	cursor:pointer;
	background:url(../img/checkbox.png) no-repeat left 4px;
	padding:3px 0 3px 27px;
	font-size:12px;
}

.form_actions_submit .boton {
	margin:0!important;
}

/* Buttons */

.button_form {
	width:80px;
	padding:4px 0;
	font-size:.9em!important;
	text-align:center;
	text-decoration:none!important;
	margin:0 auto!important;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;

	background:#407FB6!important;
	background:-moz-linear-gradient(center top , #FAFBFC, #E2E5E9)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9))!important;
	border:1px solid #ccc!important;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-shadow:0 -1px 0 #f0f0f0!important;
	color:#111!important;
}

.button_form:hover {
	background:#D8DBDF!important;
	background:-moz-linear-gradient(center top , #EDEEEF, #D8DBDF)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#EDEEEF), to(#D8DBDF))!important;
}

.button:hover {
	text-decoration:none;
	-moz-box-shadow:2px 2px 2px #ccc;
}

.button {
	width:100px;
	padding:4px 10px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	cursor:pointer;
	line-height:1.3em;

	text-shadow:0 1px 1px #3E6A16!important;
	color:white!important;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;

	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5)!important;
}

.button:focus {
	box-shadow:3px 3px 3px rgba(0, 0, 0, 0.3) inset, -3px -3px 3px 1px rgba(0, 0, 0, 0.1) inset, 0 0 0 rgba(0, 0, 0, 0.5)!important;
	text-shadow:0 -1px 0 #3E6A16!important;
}

.button_small {
	width:35px!important;
}

.button_big {
	width:150px!important;
	padding:9px 10px;
	font-size:13px;
}

.button_gray {
	background:#eee;
	background:-moz-linear-gradient(center top , #f5f5f5, #eee)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee))!important;
	border:1px solid #C4C2C2!important;
	text-shadow:0 1px 1px #eee!important;
	color:#888 !important;
}

.button_gray:focus {
	box-shadow:3px 3px 3px rgba(140, 140, 140, 0.3) inset, -3px -3px 3px 1px rgba(140, 140, 140, 0.1) inset, 0 0 0 rgba(140, 140, 140, 0.5)!important;
	text-shadow:0 -1px 0 #3E6A16!important;
}


.button_green {
	background:#639822;
	background:-moz-linear-gradient(center top , #82B741, #639822)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#82B741), to(#639822))!important;
	border:1px solid #468000!important;
}

.button_blue {
	background:#407FB6!important;
	background:-moz-linear-gradient(center top , #407FB6, #236299)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299))!important;
	border:1px solid #004380!important;
}

.button_red {
	background:#D24244;
	background:-moz-linear-gradient(center top , #D7575A, #D24244)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#D7575A), to(#D24244))!important;
	border:1px solid #BF3133!important;
}

.button_blue:hover {
	background:#004B92!important;
	background:-moz-linear-gradient(center top , #1C6EB5, #004B92)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#1C6EB5), to(#004B92))!important;
	border:1px solid #002170!important;
}


/** Overwrite default bootstrap Main button colors */

.btn-primary {
	background:#004B92!important;
	background:-moz-linear-gradient(center top , #1C6EB5, #004B92)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#1C6EB5), to(#004B92))!important;
}

/** Modal content */

.modal_overlay {
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../img/modal-bg.png);
	text-align:center;
	z-index:1000;
	opacity:.9;
}

.modal_psend {
	display:none;
	position: fixed;
	top: 50%;
	left: 50%;
	float: left;
	z-index:5000;

	width:400px;
	height:340px;
	margin:-170px 0 0 -200px;
	background:white;
	color:black;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	-webkit-box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 0px 23px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 0px 23px rgba(0, 0, 0, 0.3);
}

.modal_content {
	margin:15px;
}

.loading-img {
	text-align:center;
}

.modal_content p.loading-img {
	margin:40px auto;
	text-align:center;
}

.modal_content iframe {
	display:none;
}

.modal_title {
	text-align:right;
	padding:10px;
	background:#eee;
	background:-moz-linear-gradient(center top , #f5f5f5, #eee)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee))!important;
	text-shadow:0 1px 1px #eee;
	color:#888;

	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.modal_close {
	color:#888;
	font-size:2em;
}


/** Downloaders list */

.downloaders_list {
	list-style:none;
	height:230px;
	overflow:auto;
}

.downloaders_list li {
	list-style:none;
	padding:8px;
	border:solid #eee;
	border-width:1px 0;
}

.downloaders_list li:hover {
	background:#eef0f2 !important;
}

.downloaders_list li img {
	float:left;
	background:white;
	padding:3px;
	border:1px solid #ccc;
	margin:0 10px 0 0;
}

.downloaders_list li:nth-child(even) {
	background:#f6f6f6;
}

.downloaders_list .downloader_name {
	font-size:1em;
	color:#222;
	font-weight:bold;
	margin:0 0 3px;
}

.downloaders_list .downloader_email {
	font-size:.9em;
	color:#777;
	margin:0;
}

.downloaders_list .downloader_count {
	float:right;
}

p.downloaders_note {
	font-size:.9em;
	margin:10px 0 0;
	line-height:1.1em;
	color:#666666;
}

/** Files list view (File Manager) */

.file_name {
	font-weight:bold;
}

.file_name a {
	text-decoration:underline;
}

/* Table sorter for jquery */

.extra_columns_table .extra {
	display:none;
}

#table_view_modes {
	width:144px;
	float:right;
	text-align:right;
	font-size:.8em;
}

#table_view_modes li {
	display:inline-block;
	zoom:1;
}

#table_view_modes li a {
	display:block;
	width:20px;
	height:20px;
	text-align:left;
	text-indent:-999em;
	border:1px solid #fff;
	transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
}

.active_view_button {
	-webkit-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    2px 2px 4px rgba(50, 50, 50, 0.15);
	box-shadow:         2px 2px 4px rgba(50, 50, 50, 0.15);
	border:1px solid #ccc !important;
}

#view_reduced {
	background:url(../img/table_reduced.jpg) no-repeat;
	margin-right:7px;
}

#view_full {
	background:url(../img/table_full.jpg) no-repeat;
}


.vertical_middle td, .vertical_middle th {
	vertical-align:middle!important
}

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px auto 15px;
	font-size: .9em;
	width: 100%;
	text-align: left;
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-box-shadow:3px 3px 5px #dedede;
	box-shadow:3px 3px 5px #dedede;
}

table.tablesorter thead {
	color:#333;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background: #FAFBFC;
	background-image:-moz-linear-gradient(center top , #FAFBFC, #E2E5E9);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9));
	border: 1px solid #FFF;
	font-size: 11px;
	padding: 7px 4px;
	text-shadow:1px 1px 1px white;
}
table.tablesorter thead tr .header {
	background-image: url(../img/tablesorter/bg.png), -moz-linear-gradient(center top , #FAFBFC, #E2E5E9);
	background-image: url(../img/tablesorter/bg.png), -webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9));
	background-repeat: no-repeat!important;
	background-position: center right!important;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align:top;
}

table.tablesorter tbody tr:hover td {
	background:#EEF0F2!important;
}

table.tablesorter tbody tr.odd td {
	background-color:#F6F6F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/tablesorter/asc.png), -moz-linear-gradient(center top , #407FB6, #236299)!important;
	background-image: url(../img/tablesorter/asc.png), -webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299));
	color:white;
	text-shadow:0 -1px 0 #000000!important;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/tablesorter/desc.png), -moz-linear-gradient(center top , #407FB6, #236299)!important;
	background-image: url(../img/tablesorter/desc.png), -webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299));
	color:white;
	text-shadow:0 -1px 0 #000000!important;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #96D1FF;
}

/* tablesorter pager plugin */

div.pager {
	padding: 10px;
	margin-top:20px;
	background-color: white;
	text-align: center;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

div.pager input.pag_btn {
	width:50px;
	cursor:pointer;
	background:#407FB6!important;
	background:-moz-linear-gradient(center top , #407FB6, #236299)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#407FB6), to(#236299))!important;
	border:1px solid #004380!important;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-shadow:0 -1px 0 #000000!important;
	color:white!important;
}

div.pager span {
	font-size:12px;
	padding: 0 5px 0 10px;
}

div.pager input.prev {
/*	margin-right: 10px;*/
}

div.pager input.next {
	margin-left: 10px;
}

div.pager input, div.pager select {
	width:100px;
	font-size:11px;
	padding:4px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
























@media screen and (max-width: 768px) {
	#top_menu.nav_active ul.main_menu {
		display:block;
	}

	nav {
		position: relative;
		min-height: 46px;
	}

	nav .icon {
		display:block;
		position:absolute;
		top:10px;
		left:20px;
		padding:2px;
		border:1px solid #777;
		cursor:pointer;
	}
	
	nav .icon .nav_line {
		height:2px;
		background:#888;
		margin:3px 0;
		width:18px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.nav_active .icon .nav_line {
		background:#f5f5f5;
	}

	nav ul {
		position: absolute;
		top: 0;
		left: 0;
		background: #3c404b;
		padding:5px 0;
		margin:0!important;
		z-index:100000;
		width:100%;
		display:none;
	}

	nav ul.main_menu {
		margin:35px 0 0!important;
	}

	nav li {
		margin: 0;
	}

	nav a {
		display: block;
		padding: 5px 20px;
		text-align: left;
		color:#fff !important;
		text-decoration:none !important;
	}

	nav a:hover, nav a:focus {
		background:#000;
	}

	nav ul li ul {
		display:block !important;
		position:relative;
	}

	nav ul li ul li {
		padding-left:30px;
	}

	nav ul li ul a {
		color:#ccc !important;
	}
	
	#header {
		padding-top:10px !important;
	}

	#header h1 {
		font-size:28px;
	}
	
	#account {
		text-align:left !important;
	}
	#account span {
		display:block;
		clear:both;
		margin:10px 0 20px 0;
	}
	#account a {
		padding:0;
		background:none !important;
		float:none !important;
		margin:0 10px 0 0 !important;
	}
}