body, html {
	position:relative;
	width:100%;
	height:100%;
}

a { color:#3F7DB7; text-decoration:none; }
a:hover { text-decoration:underline; }

#wrapper {
	margin:25px 0;
	min-width: 960px;
	max-width: 1655px;
}

#left_column {
	width: 290px;
	float: left;
	text-align:center;
}

#right_column {
	padding-left: 310px;
	padding-right:10px;
}

#current_logo {
	padding:50px 0;
	background-color:white;
	border-top:5px solid #407FB6;

	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-box-shadow:3px 3px 5px #dedede;
	box-shadow:3px 3px 5px #dedede;
}

#under_header {
	background:#222;
	color:#FFFFFF;
	clear:both;
	padding:4px 0 7px;
	border-top:1px solid #555;
	border-bottom:7px solid #CCCCCC;
	-moz-box-shadow:0 5px 5px #E1E1E1;
	-webkit-box-shadow:0 5px 5px #E1E1E1;
	box-shadow:0 5px 5px #E1E1E1;
}

#under_header p {
	padding:4px 15px;
	margin:0;
}

h1 {
	font-weight:normal !important;
}

h2 {
	font-size:21px;
	font-family:'SansationRegular', sans-serif;
	margin-bottom:40px;
	margin-left:20px;
	font-weight:normal;
}

form {
	margin-bottom:0px !important;
}

.right_clear {
	clear:right;
	height:1px;
}

table.tablesorter tbody td {
	padding:10px;
}

.description {
	width:40%;
}

.download {
	width:100%;
	display:block;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:2px 0;
	font-size:12px!important;
	text-align:center;
	text-decoration:none!important;
	margin:0 auto!important;
	font-weight:bold;

	background:#407FB6!important;
	background:-moz-linear-gradient(center top , #FAFBFC, #E2E5E9)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#FAFBFC), to(#E2E5E9))!important;
	border:1px solid #ccc!important;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5)!important;
	text-shadow:0 -1px 0 #f0f0f0!important;
	color:#111!important;
}

.thumbnail {
	border:1px solid #CCCCCC;
}

.txtfield {
	width:160px !important;
}
